#warningMessageLogin, #messageRegister {
    position:relative;
    margin-top: 10px;
}

#cardContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#popupRegister {
    position: fixed;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

#x {
    position: relative;
    float: right;
    cursor: pointer;
}